// this fixes a styled-components hot reload https://github.com/vercel/next.js/issues/7322
{
	"presets": [
		"next/babel"
	],
	"plugins": [
		[
			"styled-components",
			{
				"ssr": true,
				"displayName": true,
				"preprocess": false
			}
		]
	]
}